<div class='row'>
  <div class="video left">
    <h2>ZZ Top: Gimme All Your Lovin!</h2>
    <div id='vu_ytplayer_vjVQa1PpcFMk1P88z74vIDgDdbPgN9JUGT09HdVS9Ew='><a href='http://www.youtube.com/browse'>Watch the latest videos on YouTube.com</a></div><script type='text/javascript' src='http://www.youtube.com/watch_custom_player?id=vjVQa1PpcFMk1P88z74vIDgDdbPgN9JUGT09HdVS9Ew='></script>
  </div>
  <div class="video left" style='height:380px'>
    <h2>ZZ Top: Gimme All Your Lovin!</h2>
    <script type="text/javascript"><!--
      google_ad_client = "pub-4347389678571139";
      /* 336x280, created 8/12/08 */
      google_ad_slot = "6388762434";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>
