<div id="container">
  <div id=header-container><%= image_tag('header.jpg', :class => 'center') %>
    <h1 id='title' class="center">Gimme All Your Lovin!</h1>
  </div>
  <div id="main-container">
    <% @videos.each_with_index do |video, index| %>
      <%  if index % 2 == 0 %>
        <div class="row">  
          <%=  partial :video, :with => video, :as => :vid %>
        <% else %>
          <%=  partial :video, :with => video, :as => :vid %>
          <div style="clear:both"></div>
        <div class="ad"> ad goes here</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>