<div id="container">
  <div id=header-container><%= image_tag('header.jpg', :class => 'center') %>
    <h1 id='title' class="center">Gimme All Your Lovin!</h1>
  </div>
  <div id="main-container">
    <% first_row = @videos.slice!(0..1) %>
    <%= partial :video_row, :videos => first_row %>
    
    <%= partial :youtube_ad %>
    
    <% @videos.each_slice(2) do | videos | %>
      <%= partial :video_row, :videos => videos %>
    <% end %>
  </div>
</div>
